.ref-selection-multiple {
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.42857;
    list-style: outside none none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ref-selection-choice {
    color: #555;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #CCC;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin: 0px 2px;
    padding: 0px 6px;
}

.ref-form-control{
	overflow: hidden;
}

.ref-wg-data-del{
	position: absolute;
	right: 1em;
	font-size: 6pt;
	margin-top: 2pt;
}